@charset "UTF-8";
/* CSS Document */
body {
  font-family: Muli, Oswald, Verdana, sans-serif;
  font-size: 0.8em;
  background-image: url("./docs/images/sakura.jpg");
  background-repeat: repeat-y;
}
a {
	color: #99B896;
	text-decoration: none;
}
a:visited {
	text-decoration: none;
	color: #82AF9A;
}
a:hover {
	color: #FFF;
	text-decoration: underline;
	color: #FB9E97;
}
a.local {
	font-weight: bolder;
	text-decoration: none;
	padding: 5px;
	border: 1px solid #FFF;
	margin-left: 30px;
	display: block;
	width: 105px;
}
a.local:link {
	font-weight: bolder;
	color: #FFF;
	text-decoration: none;
	background-color: #99B896;
	border: 1px solid #FFF;
}
a.local:visied {
	font-weight: bolder;
	color: #FFF;
	text-decoration: none;
	background-color: #99B896;
	border: 1px solid #FFF;
}
a.local:hover {
	font-weight: bolder;
	color: #FF4266;
	text-decoration: none;
	background-color: #b596b8;
	border: 1px solid #FFF;
}
h1, h2, h3, h4, h5, h6 {
	font-family: Muli, Oswald, Palatino, Book Antiqua, Verdana, sans-serif;
}
#container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
	background-color: rgb(232, 75, 96); opacity: 0.8;
	border: 2px #FFF solid;
}
header {
	padding-right: 10px;
	padding-left: 50%;
	height: 100px;
}
header h1 {
	text-decoration: none;
	font-family: Oswald;
	color: #FFF;
	font-size: 2em;
}
#sidebar {
	float: left;
	width: 150px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 10px;
	padding-left: 10px;
	font-size: 90%;
	color: #FFF;
	margin-left: 20px;
}
#sidebar h3 {
	color: #FFF;
	font-weight: bolder;
	padding-top: 20px;
}
section {
	margin-left: 250px;
	color: #FFF;
	padding: 20%;
}
section h1 {
	font-size: 2em;
	color: #82AF9A;
}
section h2, h3{
	color: #82AF9A;
}
footer {
	padding: 0 10px 0 20px;
	background-color: #82AF9A;
}
footer a{
	color: #FFF;
	font-size: 80%;
}
footer p {
	margin-left: 200px;
	color: #FFF;
	padding-top: 10px;
	padding-bottom: 10px;
}
.floatrt {
	float: right;
	margin-left: 8px;
}
.floatlt {
	float: left;
	margin-right: 8px;
}
.floatcr {
	clear: both;
	height: 0;
	font-size: 1px;
	line-height: 0;
}
.main{width: 100%; background: #FB9E97;}
/*General Menu Styling*/
.mainnav{z-index: 9990; margin: 0 auto}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown{position: absolute; width: 150px;top: 161px; opacity: 0;visibility: hidden;transition: ease-out .35s;-moz-transition: ease-out .35s;-webkit-transition: ease-out .35s;}
.mainnav li{ z-index: 9990; float: left;padding: 5px;background: #99B896;border-left: 1px dotted #fff;}
.mainnav li:first-child{ z-index: 9990; border: none;}
.mainnav li a{ z-index: 9990; display: block;padding: 2px 20px;color: #fff; font-family: Muli; font-size: 1.2em}
.mainnav li:hover{ z-index: 9990; background: #fff;transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
.mainnav li:hover a{ z-index: 9990;color: #99B896;transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
/*First Level*/
.subs {left: -45px;position: relative;top: 0px;width: 175px;border-left: none !important; border-bottom: 1px dotted #fff !important;}
.subs:last-child{border: none !important;}
.hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown{opacity: 1;visibility: visible; transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
.mainnav li:hover ul a,.mainnav li:hover ul li ul li a{color: white;}
.mainnav li ul li:hover,.mainnav li ul li ul li:hover{background: #fff;transition: ease-in-out .35s;-moz-transition: ease-in-out .35s;-webkit-transition: ease-in-out .35s;}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a{color: #99B896;transition: ease-in-out .35s;-moz-transition: ease-in-out .35s;-webkit-transition: ease-in-out .35s;}
/*Second Level*/
.hassubs .hassubs .dropdown .subs{left: 25px;position: relative;width: 165px;top: 0px;}
.hassubs .hassubs .dropdown{position: absolute;width: 150px;left: 120px;top: 0px;opacity: 0;visibility: hidden;transition: ease-out .35s;-moz-transition: ease-out .35s;-webkit-transition: ease-out .35s;}