@charset "UTF-8";
/* CSS Document */
body {
  font-family: Muli, Oswald, Verdana, sans-serif;
  font-size: 0.8em;
  background-image: url("./docs/images/sakura.jpg");
}

header, footer, section, article {
	border: 1px solid #2B363C;
	margin: 5px;
	margin-bottom: 15px;
	padding: 8px;
	background-color: rgb(232, 75, 96); opacity: 0.8;
	color: #FFF;
}
section {
	padding: 10%;
}
a {
	color: #99B896;
}
a:hover {
	color: #FFF;
}
#container {
	width: 980px;
	margin-right: auto;
	margin-left: auto;
}
.main{width: 79%; background: #FFC8A9; padding-left: 10%; padding-right: 10%; margin-left: 0.5%;}
/*General Menu Styling*/
.mainnav{z-index: 9990; margin: 0 auto}
li{list-style: none;}
li a{text-decoration: none;}
.dropdown{position: absolute; width: 150px;top: 19.2%; opacity: 0;visibility: hidden;transition: ease-out .35s;-moz-transition: ease-out .35s;-webkit-transition: ease-out .35s;}
.mainnav li{ z-index: 9990; float: left;padding: 5px;background: #99B896;border-left: 1px dotted #fff;}
.mainnav li:first-child{ z-index: 9990; border: none;}
.mainnav li a{ z-index: 9990; display: block;padding: 2px 20px;color: #fff; font-family: Muli; font-size: 1.2em}
.mainnav li:hover{ z-index: 9990; background: #fff;transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
.mainnav li:hover a{ z-index: 9990;color: #99B896;transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
/*First Level*/
.subs {left: -45px;position: relative;top: 0px;width: 175px;border-left: none !important; border-bottom: 1px dotted #fff !important;}
.subs:last-child{border: none !important;}
.hassubs:hover .dropdown,.hassubs .hassubs:hover .dropdown{opacity: 1;visibility: visible; transition: ease-in .35s;-moz-transition: ease-in .35s;-webkit-transition: ease-in .35s;}
.mainnav li:hover ul a,.mainnav li:hover ul li ul li a{color: white;}
.mainnav li ul li:hover,.mainnav li ul li ul li:hover{background: #fff;transition: ease-in-out .35s;-moz-transition: ease-in-out .35s;-webkit-transition: ease-in-out .35s;}
.mainnav li ul li:hover a,.mainnav li ul li ul li:hover a{color: #99B896;transition: ease-in-out .35s;-moz-transition: ease-in-out .35s;-webkit-transition: ease-in-out .35s;}
/*Second Level*/
.hassubs .hassubs .dropdown .subs{left: 25px;position: relative;width: 165px;top: 0px;}
.hassubs .hassubs .dropdown{position: absolute;width: 150px;left: 120px;top: 0px;opacity: 0;visibility: hidden;transition: ease-out .35s;-moz-transition: ease-out .35s;-webkit-transition: ease-out .35s;}